body {
  background-color: #FFFDFC;
}

.divblock{
  margin-top: 40px;
  display: inline-block;
}

.headerrow{
  height: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 70%;
  margin: auto;
  background-color: #ED494F
}

.headercol1{
  height: 120px;
  float:left;
  width: 33.33%;
  text-align: center;
}

.headercol2{
  height: 120px;
  float:left;
  width: 66.66%
}

.navbar{
  overflow: hidden;
  background-color: none;
  font-family: 'Open Sans', sans-serif;
  width: 324px;
  float: right;
}

.navbar a {
    font-size: 21px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-top:30px;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
  color: orange;

}
.header {
  display: inline-block;
  color: #3C1A2C;
  text-align: left;
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 200;
  font-size: 40px;
  padding-top: 12px;
  padding-left: 20px;
  width: 100%;
}

.row {
  width: 100%;
  margin-top: 4px;
}

.line {
  width: 70%;
  margin-top: 4px;
  margin:auto;
}

.column {
  float: left;
  width: 319px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top:4px;
  margin-bottom: 4px;
  height: 319px;
  }

.columnheader{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.description{
  font-family: 'Arvo', serif;
  font-size: 15px;
}
  /* Clear floats after the columns */
.row:after {
      content: "";
      display: table;
      clear: both;
  }

.col1{
  float:left;
  width:750px;
  height:750px:
}

.col2{
  float:right;
  width:238;
  height:200px;

}

.itemheader{
  font-size: 40px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  color: #5B5B5B;
}

.itemtext{
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
  }

.lineitem {
    width: 70%;
    height: 40px;
    margin:auto;
  }

  .rowitem {
    width: 100%;
    height: 40px;
    padding-bottom: 40px;
  }
